In [1]:
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/shintasirnawati/Prak.-Pem-Mesin/main/fake_lotto.csv' 
df = pd.read_csv(url)

In [3]:
df.head()

   Unnamed: 0  TIME  NUM1  NUM2  NUM3  NUM4  NUM5  NUM6  BONUS
0           0     1    14    13    35    27    45    33      2
1           1     2    20    16    40    45    25     1     30
2           2     3    21    16    40    25    34    37     20
3           3     4    13     9    35    38    29    10      8
4           4     5    22     4    24    45    30     9     25